<div class="banner"><img src="images/banner-workshops-index.jpg" /></div>

<div class="container">
	<header class="major">
		<h2>Workshops</h2>
		<p>Sharing our knowledge with the students of UTRGV.</p>
	</header>
	<p>One of our goals when founding Hack and Make was to provide students with the skills necessary for their future careers. To accomplish this, we will 
	be offering workshops on scheduled Fridays that are open for members of Hack and Make to join.</p>
	<div id="three">
		<div class="container">
			<div class="features">
				<article>
					<a class="image">
						<img src="images/workshops/personalwebsite.jpg" alt>
					</a>
					<div class="inner">
						<h4>Personal Website</h4>
						<p>A resume is good but a personal website showcasing your accomplishments? Even better.</p>
						<ul>
						<li><a href="https://desktop.github.com">GitHub for Desktop</a></li>
						<li><a href="https://nc.me">Namecheap Promotion</a></li>
						<li><a href="http://getbootstrap.com">Bootstrap</a></li>
						<li><a href="https://wrapbootstrap.com">Wrap Bootstrap (Beginner)</a></li>
						<li><a href="http://startbootstrap.com">Start Bootstrap (Intermediate)</a></li>
						<li><a href="http://themeforest.net">Theme Forest (Advanced)</a></li>
						</ul>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>