<div class="banner"><img src="images/banner-workshops-index.jpg" /></div>

<div class="container">
	<header class="major">
		<h2>Workshops</h2>
		<p>Sharing our knowledge with the students of UTRGV.</p>
	</header>
	<p>One of our goals when founding Hack and Make was to provide students with the skills necessary for their future careers. To accomplish this, we will be hosting workshops on scheduled Fridays that are open for members of Hack and Make to join.</p>
	
	<div class="container">
		<div class="features">
			<article>
				<a class="image">
					<img src="images/pic03.jpg" alt>
				</a>
				<div class="inner">
					<h4>TBA</h4>
					<p>Friday, March 4th, 2016</p>
					<p>Coming soon...</p>
				</div>
			</article>
			<article>
				<a class="image">
					<img src="images/workshops/personalwebsite.jpg" alt>
				</a>
				<div class="inner">
					<h4>Personal Website</h4>
					<p>Friday, February 19th, 2016</p>
					<p>A resume is good but a personal website showcasing your experience and accomplishments? Even better.</p>
				</div>
			</article>
		</div>
	</div>
</div>