<div class="banner"><img src="images/banner-about.jpg" /></div>

<div class="container">
	<header class="major">
		<h2>About Hack and Make</h2>
		<p>We promote hacking, but not that kind.</p>
	</header>

	<h4>Hackathons</h4>
	<p>One of the main goals of Hack and Make is to facilitate the trips to hackthons in the state of Texas. If there's something big happening in Texas, we have students going there. Is the event large enough to send buses? We have one (or two) coming to UTRGV.</p>

	<h4>Workshops</h4>
	<p>Our student led workshops aim to provide the skills that are necessary in industry. Our first semester we covered Git, Internet of Things, RESTful APIs, the Ionic framework, and even Raspberry Pis at a school in Mexico. It is our goal to cover even more topics this semester and provide students at UTRGV with the knowledge they don't get in class.</p>

	<h4>Outreach</h4>
	<p>Most of us come from schools with little to no computer science or engineering education. It is because of this that we wish to give back to our community and expose students in the Rio Grande Valley to computer science and engineering.</p>
</div>