<div class="banner"></div>

<div class="container">
	<header class="major">
		<h2>Upcoming Events</h2>
	</header>
	<ul class="feature-icons">
		<li class="fa-users">General Meeting [March 1st]</li>
		<li class="fa-code">HackUTD [March 26th]</li>
		<li class="fa-code">EagleHacks [April 2nd]</li>
		<li class="fa-code">HackDFW [April 16th]</li>
	</ul>
</div>

<div class="container">
	<header class="major">
		<h2>Recent Posts</h2>
	</header>
	<h3>Personal Website Workshop</h3>
	<p>Thank you everyone who attended the workshop! I hope you learned something new and were also entertained by Eric's demeanor. A recap will be up soon.</p>
</div>