<div class="banner"><img src="images/banner-officers.jpg" /></div>

<div class="container">
	<header class="major">
		<h2>Officers</h2>
		<p>We run this show.</p>
	</header>
	<div class="container">
		<div class="features">
			<article>
				<!-- <a class="image">
					<img src="images/pic01.jpg" alt>
				</a> -->
				<div class="inner">
					<h4>President</h4>
					<p><strong>Alejandro Huerta</strong> is a senior studying Computer Science.</p>
				</div>
			</article>
			<article>
				<!-- <a class="image">
					<img src="images/pic02.jpg" alt>
				</a> -->
				<div class="inner">
					<h4>Vice President</h4>
					<p><strong>Miguel Chaires</strong> is a junior studying Electrical Engineering.</p>
				</div>
			</article>
			<article>
				<!-- <a class="image">
					<img src="images/pic02.jpg" alt>
				</a> -->
				<div class="inner">
					<h4>Secretary</h4>
					<p><strong>Judith Martinez</strong> is a _ studying _.</p>
				</div>
			</article>
			<article>
				<!-- <a class="image">
					<img src="images/pic02.jpg" alt>
				</a> -->
				<div class="inner">
					<h4>Treasurer</h4>
					<p><strong>Ernesto Bochas</strong> is a senior studying Computer Engineering.</p>
				</div>
			</article>
			<article>
				<!-- <a class="image">
					<img src="images/pic02.jpg" alt>
				</a> -->
				<div class="inner">
					<h4>Historian</h4>
					<p><strong>Xavid Ramirez</strong> is a _ studying Computer Engineering.</p>
				</div>
			</article>
			<article>
				<!-- <a class="image">
					<img src="images/pic02.jpg" alt>
				</a> -->
				<div class="inner">
					<h4>Outreach Coordinator</h4>
					<p><strong>Rubi Quiñones</strong> is a senior studying Computer Engineering.</p>
				</div>
			</article>
			<article>
				<!-- <a class="image">
					<img src="images/pic02.jpg" alt>
				</a> -->
				<div class="inner">
					<h4>East Campus Recruiter</h4>
					<p><strong>Christian Martinez</strong> is a _ studying _.</p>
				</div>
			</article>
		</div>
	</div>
</div>